<!DOCTYPE html>
</html>
<head>
    <title><%=title%></title>
    <link href="/../css/main.css" rel="stylesheet">
</head>
<body class="page">
    <div class="page-header">
        <h2><%=title%></h2>
    </div>
    <a href="/customers">Customers</a>
    <a href="/country">Country</a>
    <a href="/disease_type">Disease Type</a>
    <a href="/disease">Disease</a>
    <a href="/doctor">Doctor</a>
    <a href="/users">Users</a>
</body>
</html>