<%- include ../layouts/header.ejs %>
<div class="page-data">
    <form method="post" action="/users/add">
        <table cellpadding="11">
            <tr>
                <td class="label">Email</td>
                <td><input type="text" name="email" required /></td>
            </tr>
            <tr>
                <td class="label">Name</td>
                <td><textarea name="name" required cols="30" rows="5"></textarea></td>
            </tr>
            <tr>
                <td class="label">Surname</td>
                <td><input type="text" name="surname" required /></td>
            </tr>
            <tr>
                <td class="label">Salary</td>
                <td><input type="text" name="salary" required /></td>
            </tr>
            <tr>
                <td class="label">Phone</td>
                <td><input type="text" name="phne" required /></td>
            </tr>
            <tr>
                <td class="label">Country</td>
                <td><input type="text" name="country" required /></td>
            </tr>
            <tr>
                <td class="label"></td>
                <td>
                    <button type="submit">Save</button>
                    <button type="button" onClick="cancelAddDb()">Cancel</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<%- include ../layouts/footer.ejs %>
